body
{
    font-family: 'Sen', sans-serif;

  
    margin-left: auto;
    margin-right: auto;
}

header
{
    background-color: #21e3ec;
}

main
{
    background-color: #4bbf6e;
}

h1
{
    color: white;
    font-size: 48px;
    text-align: center;

    padding-top: 20px;
}

h2, h3, h4
{
    color: white;
    font-size: 12px;
    text-align: left;

    margin-top: 0;
    margin-left: 32px;
	margin-right: 32px;
	padding-right: 32px;
    padding-top: 30px;
}

h5
{
    color: white;
    font-size: 12px;

    margin-top: 0;
    margin-bottom: 12px;
    margin-left: 0px;
    padding-top: 30px;
}

h6
{
    color: white;
    font-size: 12px;

    margin-top: 0;
    margin-bottom: 12px;
    margin-left: 0px;
    padding-top: 30px;
}

h7, h9, h10
{
    color: white;
    font-size: 12px;
    text-align: left;
	line-height: 48px;

    margin-top: 0;
    margin-left: 32px;
	margin-right: 32px;
	padding-right: 32px;
    padding-top: 30px;
}

h8
{
    color: white;
    font-size: 12px;
	line-height: 58px;
    margin-top: 0;
    margin-bottom: 12px;
    margin-left: 0px;
    padding-top: 30px;
}







img
{
    width: 85px;
    height: 85px;

    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

button
{
    background-color: white;
    font-family: 'Sen', sans-serif;
    font-weight: bold;

    border: 1px solid #d3d3d3;
    border-radius: 4px;
}

input[type = "text"], input[type="password"]
{
    display: block;
    margin-left: 32px;
	width: 298px;
}

#centerAlignment
{
    text-align: center;
}


#goback, #register
{
    display: inline-block;

    margin-top: 20px;
    margin-bottom: 68px;
    
}

#goback
{
    margin-right: 6px;
    padding: 5px 46px;
   
}

#register
{

    margin-left: 6px;
    padding: 5px 46px;
 
}
